@import url("./reset.scss");
@import url("./variables.scss");
@import url("./theme/light.scss");
@import url("./theme/dark.scss");

html,
body,
#root,
.app {
  font: var(--font-m);
  background: var(--bg-primary);
  color: var(--color-primary);
}

header {
  height: var(--height-header);
  background: var(--bg-secondary);
  color: var(--color-secondary);
}

main {
  background: var(--bg-primary);
  min-height: var(--height-page-min);
  display: flex;
}
.page {
  flex-grow: 1;
  padding: 20px;
}
