@import url("./reset.scss");
@import url("./variables.scss");
@import url("./theme/light.scss");
@import url("./theme/dark.scss");

html,
body,
#root,
.app {
  font: var(--font-m);
  background: var(--bg-primary);
  color: var(--color-primary);
}
